<div class='d-flex align-items-center py-5 px-1 bg-purple'>
  <%= image_tag 'https://raw.githubusercontent.com/trouni/predictor-vue/main/src/assets/logo.png', width: 100, alt: "text", class: 'me-2' %>
  <h1 class='m-0 text-white'>Octacle</h1>
</div>
